<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Application</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=cyrillic-ext" rel="stylesheet" />
	<link rel="stylesheet" href="build/styles/app.css" />
</head>
<body>
	<main class="container">
    <div class="error">
      Something went wrong. Please try again.
    </div>
    <button class="load-button">Load Hotels</button>
      <div class="hotel-list">
        <script type="text/x-handlebars-template" class="hotel-card-template">
            {{#each this}}
              <div class="hotel-card">
                <div class="hotel-card-inner clearfix">
                  <div class="hotel-image">
                    {{#with this.images}}
                    <img src="{{ this.[0] }}" alt="hotel image">
                    {{/with}}
                  </div>
                  <div class="hotel-info">
                    <div class="info-top">
                      <h3>{{ name }}</h3> 
                      <span class="rating" data-count="{{ stars }}"></span>
                    </div>
                    <p class="location">{{ city }} - {{ country }}</p>
                    <div class="description">
                      {{ description }}
                    </div>
                    <div class="info-bottom">
                      <button class="show-review" data-id="{{ id }}">Show reviews</button> 
                      <p>Price: ${{price}}</p>
                      <p class="date" data-start="{{ date_start }}" data-end="{{ date_end }}"></p>
                    </div>
                  </div>
                </div>
                <div class="review-container" data-id="{{ id }}"></div>
              </div>
            {{/each}}
        </script>
        <script type="text/x-handlebars-template" class="reviews-template">
          <ul>
            {{#each this}}
            <li>
              <span class="review-status" data-review="{{ positive }}">
                {{#if positive}}
                  <span> + </span>
                {{else}}
                  <span> - </span>
                {{/if}}
              </span>
              <div class="review-info">
                <p>{{name}}</p>
                <p>{{comment}}</p>
              </div>
            </li>
            {{/each}}
          </ul>
        </script>
      </div>
	</main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
	<script src="build/scripts/build.js"></script>
</body>
</html>