.container {
  font-family: 'Roboto';

  .load-button {
    -webkit-appearance: none;
    display: block;
    margin: 10px auto 30px;
    padding: 7px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .hotel-card {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 2px solid #777;

    .hotel-image {
      float: left;
      height: 240px;
      border-right: 2px solid #777;

      img {
        width: 320px;
      }
    }

    .hotel-info {
      position: relative;
      float: left;
      width: 540px;
      height: 240px;
      padding-left: 20px;

      .info-top {
        h3 {
          display: inline-block;
          width: 80%;
          margin-bottom: 0px;
          text-transform: capitalize;
        }
      }
      
      .location {
        font-size: 11px;
        margin-top: 5px;
      }

      .description {
        margin-top: 15px;
        font-size: 14px;
      }

      .info-bottom {
        position: absolute;
        bottom: 10px;
        left: 20px;
        right: 20px;

        .show-review {
          -webkit-appearance: none;
          padding: 10px 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;

          & + p {
            float: right;
            margin-bottom: 0;
          }

          &:hover { cursor: pointer }
        }

        .date {
          margin: 0;
          text-align: right;
          font-size: 12px;
        }
      }
    }

    .review-container {

      ul {
        padding-left: 0;
        margin: 0;
        list-style: none;

        li {
          position: relative;
          padding: 10px;
          border-top: 2px solid #777;
         
          p {
            font-size: 14px;
          }
        }
      }

      .review-status {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          display: inline-block;
          background: #ccc;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
        }
      }

      .review-info {
        padding-left: 110px;
      }
    }
  }

  .error {
    position: absolute;
    right: 20px;
    width: 190px;
    text-align: center;
    background: #d80d50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity .5s linear;

    &.active {
      opacity: 1;
    }
  }
}